/* CSS Document */
/*Navigation Bar*/
navigation{
	display: grid;
	align-items:center;
	grid-template-columns: max-content auto 1fr;
}
navigation a{
	text-decoration:none;
	color:black;
}
.webtitle{justify-self:end;}
.links{
	display:flex;
	align-items: center;
	flex-flow: row wrap;
	column-gap: 2em;
	row-gap:.5em;
}
.links li {
	list-style-type: none;
}
/* About Page */
.profile{
	display:grid;
	align-items:center;
	grid-template-columns: 1fr 600px 1fr;
}
.headshot img{
	max-width:600px;
}

/*Resume Page*/
.company{
	font-weight:700;
	font-family:Cambria;
}
.job {
	font-style:italic;
}
.jobTitle{
	float:left;
}
.jobTitleDates{
	float:right;
	font-weight:700;
	margin-left:100px;
}
.resume{
	max-width:790px;
	margin:auto;
}
.resume h1,h3{
	margin-bottom:0;
}
.resume p{
	margin:0;
}
.resume ul{
	clear:both;
	margin-top:0;
}
span.extra-text{
	display:none;
}
.expandable-text:hover span.extra-text{
	display:inline;
	color:red;
}


/*Design Page*/
.gallery {
	--num-cols: 4;
	--gap: 5px;
	display:grid;
	grid-auto-flow:dense;
	grid-template-columns:repeat(var(--num-cols),1fr);
	grid-auto-rows:max-content;
	gap: var(--gap);
	
}
@supports (grid-template-rows: masonry) {
  /* masonry code here */
	.gallery{
		  display: grid;
		grid-template-columns: repeat(var(--num-cols), 1fr);
		  grid-template-rows: masonry;
		}
}


.gallery-item > img{
	width:100%;
	object-fit:cover;
}
.gallery-item > iframe{
	width:100%;
	object-fit:cover;
}

.wide{
	grid-column:span 2;
}

.tall{
	grid-row:span 2;
}

@media screen and (max-width: 1024px) {
	.gallery{
		--num-cols:3;
	}
}
@media screen and (max-width: 600px) {
	.gallery{
		--num-cols:2;
	}
}

/*Mini Games*/
#myCanvas {
  box-shadow: inset 0 0 85px rgba(0, 0, 0, 0.15);
  background-color:#d9efda;
}

.square {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  width: 500px;
  height: 500px;
  box-shadow: inset 0 0 85px rgba(0, 0, 0, 0.15);
  background-color:#d9efda;
}

.square .name p{
	font-family: 'Pokemon_Pixel','Roboto', sans-serif;
    color:black;
    font-size: 120px;
	text-align: center;
}

.square .name a{
    text-decoration: none;
}

.square .about {
    text-align: center;
}

.square .about ul{
	font-family: 'Pokemon_Pixel','Roboto', sans-serif;
    color:white;
    list-style: none;
    padding-left: 0;
}

.square .about a {
    color:black;
    text-decoration: none;
}

.square .about ul li {
    list-style:none;
    font-size:29px;
}

.square .about ul li b{
    font-size:19px;
}

.square .about ul li:hover {
    animation: blinker 1s linear infinite;
    font-size:40px;
}

.disclaimer {
	text-align:center;
}
.disclaimer p {
	font-family: 'Pokemon_Pixel','Roboto', sans-serif;
    font-size:25px;
}
@keyframes blinker {
    0% {color:#797dd7}
    33% {color: #6dba27}
    66% {color:#da3107}
    100% {color:#797dd7}
}

@font-face {
  font-family: Pokemon_Pixel;
  src: url(/Fonts/pokemon_pixel_font.ttf);
  font-weight: normal;
}


