/* CSS Document */

.company{
	font-weight:700;
	font-family:Cambria;
}
.job {
	font-style:italic;
}
.jobTitle{
	float:left;
}
.jobTitleDates{
	float:right;
	font-weight:700;
	margin-left:100px;
}
.resume{
	max-width:790px;
	margin:auto;
}
.resume h1,h3{
	margin-bottom:0;
}
.resume p{
	margin:0;
}
.resume ul{
	clear:both;
}
