#myCanvas {
  box-shadow: inset 0 0 85px rgba(0, 0, 0, 0.15);
  background-color:#d9efda;
}

.square {
  display: grid;
  width: 500px;
  height: 500px;
  box-shadow: inset 0 0 85px rgba(0, 0, 0, 0.15);
  background-color:#d9efda;
}

.square .name p{
	font-family: 'Pokemon_Pixel','Roboto', sans-serif;
    color:black;
    font-size: 120px;
	text-align: center;
}

.square .name a{
    text-decoration: none;
}

.square .about {
    text-align: center;
}

.square .about ul{
	font-family: 'Pokemon_Pixel','Roboto', sans-serif;
    color:white;
    list-style: none;
    padding-left: 0;
}

.square .about a {
    color:black;
    text-decoration: none;
}

.square .about ul li {
    list-style:none;
    font-size:29px;
}

.square .about ul li b{
    font-size:19px;
}

.square .about ul li:hover {
    animation: blinker 1s linear infinite;
    font-size:40px;
}

.disclaimer {
	text-align:center;
}
.disclaimer p {
	font-family: 'Pokemon_Pixel','Roboto', sans-serif;
    font-size:25px;
}
@keyframes blinker {
    0% {color:#797dd7}
    33% {color: #6dba27}
    66% {color:#da3107}
    100% {color:#797dd7}
}

@font-face {
  font-family: Pokemon_Pixel;
  src: url(/Fonts/pokemon_pixel_font.ttf);
  font-weight: normal;
}
